body {
    background-image: url('https://bl-i.thgim.com/public/incoming/3l0f5u/article66132814.ece/alternates/FREE_1200/IMG_bl8_Telecom_tower_2_1_CM8V4UIF.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}